.icon-angle-down {
  background-image: url('../../assets/Icons/ic_angle-down.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.icon-courseware {
  background-image: url('../../assets/Icons/ic_course_ware.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.icon-classroom {
  background-image: url('../../assets/Icons/ic_classroom.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.icon-overview {
  background-image: url('../../assets/Icons/ic_overview.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.icon-sprites {
  background-image: url('../../assets/Icons/ic_sprites.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.icon-setting {
  background-image: url('../../assets/Icons/ic_setting.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.icon-help {
  background-image: url('../../assets/Icons/ic_help.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.icon-notification {
  background-image: url('../../assets/Icons/ic_notifications.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.icon-avatar {
  background-image: url('../../assets/Icons/ic_avatar.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.icon-search {
  background-image: url('../../assets/Icons/ic_search.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.icon-ellipsis-v {
  background-image: url('../../assets/Icons/ic_ellipsis-v.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.icon-x {
  background-image: url('../../assets/Icons/ic_x.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.icon-upload {
  background-image: url('../../assets/Icons/ic_upload.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.icon-back {
  background-image: url('../../assets/Icons/ic_arrow_left.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.icon-import {
  background-image: url('../../assets/Icons/ic_import.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.icon-multiple-choice {
  background-image: url('../../assets/Icons/ic_multiple-choice-qs.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.icon-right-wrong {
  background-image: url('../../assets/Icons/ic_right-wrong-qs.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.icon-fill-blank {
  background-image: url('../../assets/Icons/ic_fill-in-blank-qs.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.icon-essay {
  background-image: url('../../assets/Icons/ic_essay-qs.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.icon-replication {
  background-image: url('../../assets/Icons/ic_replication.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.icon-trash {
  background-image: url('../../assets/Icons/ic_trash.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.icon-add-answer-essay {
  background-image: url('../../assets/Icons/ic_add-key.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.icon-view-ui {
  background-image: url('../../assets/Icons/ic_view-ui.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.icon-backToQuestion {
  background-image: url('../../assets/Icons/ic_backToQuestion.svg');
  background-repeat: no-repeat;
  background-position: center;
}
