.exercise-detail .exercise-detail-list {
  margin-top: 120px;
  overflow-y: auto;
  height: calc(100vh - 120px);
}

.exercise-list {
  margin: 24px auto;
  /* padding: 0 160px; */
  max-width: 1024px;
  position: relative;
}

.exercise-list .exercise-item {
  width: 100%;
  /* height: 192px; */
  padding: 20px;

  border-top: 8px solid #00a9ec;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
  overflow: hidden;
}

.exercise-list .exercise-item p {
  margin: 0;
  font-size: 16px;
  color: #4e5b6a;
}

.exercise-list .exercise-item .exercise-answer {
  margin: 22px 0 15px 0;
}

.exercise-list .exercise-item .line-break {
  width: 100%;
  height: 1px;
  background-color: #b6b9ce;
}

.exercise-list .exercise-item .exercise-btn-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin-top: 20px;
}

.exercise-list .question-type-container {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(48px);
  width: 48px;
}

.question-type-container .question-type-toolbar {
  width: 100%;
  margin: 0;
}

.question-type-toolbar .question-type-item {
  margin-bottom: 8px;
  position: relative;
  cursor: pointer;
}

.question-type-toolbar .question-type-item::after {
  content: '';
  position: absolute;
  width: 17px;
  height: 100%;
  top: 0;
  right: 100%;
}

.question-type-toolbar .question-type-item .question-type-icon {
  width: 48px;
  height: 48px;
  background-size: contain;
}

.question-type-toolbar
  .question-type-item
  .question-type-icon:hover
  + .question-type-tooltip {
  display: block;
}

.question-type-toolbar .question-type-item .question-type-tooltip {
  position: absolute;
  top: 50%;
  right: calc(100% + 17px);
  transform: translateY(-50%);

  display: none;
  background-color: #ffffff;
  height: 40px;
  padding: 12px;

  border-radius: 5.5px;
  color: #4e5b6a;
  border: 1px solid #b6b9ce;
  white-space: nowrap;
}
